//- extends layout

//- block content
//-   h1= title
//- p Welcome to #{title}
//- a(href='/posts') 숙소
//-  .container
//-     h1.page-header title 
extends layout

block content

 .container
  form(action = '/posts/category',  method='POST')
   h1.page-header AirBNB 
    h3 원하는 도시를 선택 하세요
      .form-group
      select.form-control(name='category')
        option(value='서울', selected) 서울
        option(value='경기') 경기
          option(value='인천') 인천
          option(value='강원') 강원
          option(value='대전') 대전
          option(value='세종') 세종
          option(value='충남') 충남
          option(value='충북') 충북
          option(value='부산') 부산
          option(value='울산') 울산
          option(value='경남') 경남
          option(value='경북') 경북
          option(value='대구') 대구
          option(value='광주') 광주
          option(value='전남') 전남
          option(value='전북') 전북
          option(value='제주') 제주
    
    form.form-inline(action='/posts/category', method='POST')
     div.form-actions
       button.btn.btn-primary(type='submit') 선택완료
    form.form-inline(action='/posts', method='GET')
     div.form-actions
       button.btn.btn-primary(type='submit') 전체보기
     
 
 