//- extends layout

//- block content
//-   h1= title
//- p Welcome to #{title}
//- a(href='/posts') 숙소
//-  .container
//-     h1.page-header title 
extends layout

block content

 .container
    h1.page-header AirBNB 
  a(href='/posts') 숙소
  


 
 